<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.iiitd.droid">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".ServiceClass"/>
        <receiver android:name=".ServiceStarter">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>

                <action android:name="android.app.action.ACTION_PASSWORD_CHANGED"></action>
                <action android:name="android.app.action.ACTION_PASSWORD_EXPIRING"></action>
                <action android:name="android.app.action.ACTION_PASSWORD_FAILED"></action>
                <action android:name="android.app.action.ACTION_PASSWORD_SUCCEEDED"></action>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"></action>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"></action>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"></action>
                <action android:name="android.bluetooth.a2dp.profile.action.CONNECTION_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.a2dp.profile.action.PLAYING_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.adapter.action.CONNECTION_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED"></action>
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED"></action>
                <action android:name="android.bluetooth.adapter.action.LOCAL_NAME_CHANGED"></action>
                <action android:name="android.bluetooth.adapter.action.SCAN_MODE_CHANGED"></action>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"></action>
                <action android:name="android.bluetooth.device.action.ACL_CONNECTED"></action>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED"></action>
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECT_REQUESTED"></action>
                <action android:name="android.bluetooth.device.action.BOND_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.device.action.CLASS_CHANGED"></action>
                <action android:name="android.bluetooth.device.action.FOUND"></action>
                <action android:name="android.bluetooth.device.action.NAME_CHANGED"></action>
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"></action>
                <action android:name="android.bluetooth.device.action.UUID"></action>
                <action android:name="android.bluetooth.devicepicker.action.DEVICE_SELECTED"></action>
                <action android:name="android.bluetooth.devicepicker.action.LAUNCH"></action>
                <action android:name="android.bluetooth.headset.action.VENDOR_SPECIFIC_HEADSET_EVENT"></action>
                <action android:name="android.bluetooth.headset.profile.action.AUDIO_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.headset.profile.action.CONNECTION_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.input.profile.action.CONNECTION_STATE_CHANGED"></action>
                <action android:name="android.bluetooth.pan.profile.action.CONNECTION_STATE_CHANGED"></action>
                <action android:name="android.hardware.action.NEW_PICTURE"></action>
                <action android:name="android.hardware.action.NEW_VIDEO"></action>
                <action android:name="android.hardware.input.action.QUERY_KEYBOARD_LAYOUTS"></action>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"></action>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"></action>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"></action>
                <action android:name="android.intent.action.AIRPLANE_MODE"></action>
                <action android:name="android.intent.action.BATTERY_CHANGED"></action>
                <action android:name="android.intent.action.BATTERY_LOW"></action>
                <action android:name="android.intent.action.BATTERY_OKAY"></action>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.intent.action.CAMERA_BUTTON"></action>
                <action android:name="android.intent.action.CONFIGURATION_CHANGED"></action>
                <action android:name="android.intent.action.CONTENT_CHANGED"></action>
                <action android:name="android.intent.action.DATA_SMS_RECEIVED"></action>
                <action android:name="android.intent.action.DATE_CHANGED"></action>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"></action>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"></action>
                <action android:name="android.intent.action.DOCK_EVENT"></action>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"></action>
                <action android:name="android.intent.action.DREAMING_STARTED"></action>
                <action android:name="android.intent.action.DREAMING_STOPPED"></action>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_AVAILABLE"></action>
                <action android:name="android.intent.action.EXTERNAL_APPLICATIONS_UNAVAILABLE"></action>
                <action android:name="android.intent.action.FETCH_VOICEMAIL"></action>
                <action android:name="android.intent.action.GTALK_CONNECTED"></action>
                <action android:name="android.intent.action.GTALK_DISCONNECTED"></action>
                <action android:name="android.intent.action.HEADSET_PLUG"></action>
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED"></action>
                <action android:name="android.intent.action.LOCALE_CHANGED"></action>
                <action android:name="android.intent.action.MANAGE_PACKAGE_STORAGE"></action>
                <action android:name="android.intent.action.MEDIA_BAD_REMOVAL"></action>
                <action android:name="android.intent.action.MEDIA_BUTTON"></action>
                <action android:name="android.intent.action.MEDIA_CHECKING"></action>
                <action android:name="android.intent.action.MEDIA_EJECT"></action>
                <action android:name="android.intent.action.MEDIA_MOUNTED"></action>
                <action android:name="android.intent.action.MEDIA_NOFS"></action>
                <action android:name="android.intent.action.MEDIA_REMOVED"></action>
                <action android:name="android.intent.action.MEDIA_SCANNER_FINISHED"></action>
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE"></action>
                <action android:name="android.intent.action.MEDIA_SCANNER_STARTED"></action>
                <action android:name="android.intent.action.MEDIA_SHARED"></action>
                <action android:name="android.intent.action.MEDIA_UNMOUNTABLE"></action>
                <action android:name="android.intent.action.MEDIA_UNMOUNTED"></action>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"></action>
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"></action>
                <action android:name="android.intent.action.NEW_VOICEMAIL"></action>
                <action android:name="android.intent.action.PACKAGE_ADDED"></action>
                <action android:name="android.intent.action.PACKAGE_CHANGED"></action>
                <action android:name="android.intent.action.PACKAGE_DATA_CLEARED"></action>
                <action android:name="android.intent.action.PACKAGE_FIRST_LAUNCH"></action>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"></action>
                <action android:name="android.intent.action.PACKAGE_INSTALL"></action>
                <action android:name="android.intent.action.PACKAGE_NEEDS_VERIFICATION"></action>
                <action android:name="android.intent.action.PACKAGE_REMOVED"></action>
                <action android:name="android.intent.action.PACKAGE_REPLACED"></action>
                <action android:name="android.intent.action.PACKAGE_RESTARTED"></action>
                <action android:name="android.intent.action.PACKAGE_VERIFIED"></action>
                <action android:name="android.intent.action.PHONE_STATE"></action>
                <action android:name="android.intent.action.PROVIDER_CHANGED"></action>
                <action android:name="android.intent.action.PROXY_CHANGE"></action>
                <action android:name="android.intent.action.REBOOT"></action>
                <action android:name="android.intent.action.SCREEN_OFF"></action>
                <action android:name="android.intent.action.SCREEN_ON"></action>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"></action>
                <action android:name="android.intent.action.TIME_SET"></action>
                <action android:name="android.intent.action.TIME_TICK"></action>
                <action android:name="android.intent.action.UID_REMOVED"></action>
                <action android:name="android.intent.action.USER_PRESENT"></action>
                <action android:name="android.intent.action.WALLPAPER_CHANGED"></action>
                <action android:name="android.media.ACTION_SCO_AUDIO_STATE_UPDATED"></action>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"></action>
                <action android:name="android.media.RINGER_MODE_CHANGED"></action>
                <action android:name="android.media.SCO_AUDIO_STATE_CHANGED"></action>
                <action android:name="android.media.VIBRATE_SETTING_CHANGED"></action>
                <action android:name="android.media.action.CLOSE_AUDIO_EFFECT_CONTROL_SESSION"></action>
                <action android:name="android.media.action.OPEN_AUDIO_EFFECT_CONTROL_SESSION"></action>
                <action android:name="android.net.conn.BACKGROUND_DATA_SETTING_CHANGED"></action>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"></action>
                <action android:name="android.net.nsd.STATE_CHANGED"></action>
                <action android:name="android.net.wifi.NETWORK_IDS_CHANGED"></action>
                <action android:name="android.net.wifi.RSSI_CHANGED"></action>
                <action android:name="android.net.wifi.SCAN_RESULTS"></action>
                <action android:name="android.net.wifi.STATE_CHANGE"></action>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"></action>
                <action android:name="android.net.wifi.p2p.CONNECTION_STATE_CHANGE"></action>
                <action android:name="android.net.wifi.p2p.DISCOVERY_STATE_CHANGE"></action>
                <action android:name="android.net.wifi.p2p.PEERS_CHANGED"></action>
                <action android:name="android.net.wifi.p2p.STATE_CHANGED"></action>
                <action android:name="android.net.wifi.p2p.THIS_DEVICE_CHANGED"></action>
                <action android:name="android.net.wifi.supplicant.CONNECTION_CHANGE"></action>
                <action android:name="android.net.wifi.supplicant.STATE_CHANGE"></action>
                <action android:name="android.nfc.action.ADAPTER_STATE_CHANGED"></action>
                <action android:name="android.provider.Telephony.SIM_FULL"></action>
                <action android:name="android.provider.Telephony.SMS_CB_RECEIVED"></action>
                <action android:name="android.provider.Telephony.SMS_DELIVER"></action>
                <action android:name="android.provider.Telephony.SMS_EMERGENCY_CB_RECEIVED"></action>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
                <action android:name="android.provider.Telephony.SMS_REJECTED"></action>
                <action android:name="android.provider.Telephony.SMS_SERVICE_CATEGORY_PROGRAM_DATA_RECEIVED"></action>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER"></action>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"></action>
                <action android:name="android.speech.tts.TTS_QUEUE_PROCESSING_COMPLETED"></action>
                <action android:name="android.speech.tts.engine.TTS_DATA_INSTALLED"></action>
            </intent-filter>
        </receiver>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>